<div class="ma-footer-container">
    <div class="footer-static-container">
        <div class="footer-static-2">
            <div class="container">
                <div class="link-web">
                    <div class="title">
                        <h3>{{ 'Follow us' | trans }}</h3>
                    </div>
                    <ul>
                        <li>
                            <a class="face" href="#">face</a>
                        </li>
                        <li>
                            <a class="twitter" href="#">twitter</a>
                        </li>
                        <li>
                            <a class="google" href="#">google</a>
                        </li>
                        <li>
                            <a class="dribbble" href="#">dribbble</a>
                        </li>
                    </ul>
                </div>
                <div class="newsletter-container"></div>
            </div>
        </div>
    </div>
</div>
