<div class="order-overlay">
    <p>{{ 'Bestellung %s wurde abgebrochen' | format(order.orderNumber) | trans }}</p>
    <button class="btn btn-default" onclick="window.top.location.href = '{{ path("checkout_order_payment_home") }}';">{{ 'Weiter' | trans }}</button>
</div>
