<div class="order-overlay">
    <p>{{ 'Order is failed to save' | trans}}</p>
    <button class="btn btn-default box-button btn-primary" onclick="window.top.location.href = '{{ path("checkout_order_payment_home") }}';">{{ 'Weiter' | trans }}</button>
</div>