<div class="order-overlay">
    <p>{{ 'Order is success delivered' | trans}}</p>
    <button type="button" class="btn btn-primary box-button btn-primary" data-url="{{ path('index_page') }}"  >{{ 'Back to shop' | trans }}</button>
</div>