<div class="main-container col1-layout">
    <div class="container">
        <div class="main" style="margin-bottom:0px;">
            <div class="col-main">
                <div class="std"></div>
                <div class="category-container">
                    <div class="categorytabslider">
                        <div class="categorytab-title title-group"><h2>Categories Tabs</h2></div>
                        {% set csshtml = "" %}
                        <ul class="tabs tabs-category_tabs tab_categorys">
                            {% for category in categories %}
                                {% if loop.index0 == 0 %}
                                    {% set csshtml = "class=active" %}
                                {% else %}
                                    {% set csshtml = "" %}
                                {% endif %}
                                {% for label in category.labels %}
                                    {% if label.lang.shortName == app.request.getLocale() %}
                                        <li {{ csshtml }}><p class="tab{{ category.id }}-category_tabs">{{ label.name }}</p></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                        </ul>
                        <div class="tab_container">
                            {{ products | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>